<ul class="nav nav-tabs">
  -console.log(userPlats)
  if userPlats.indexOf(6) > -1
    <li class="plat-tab"><a class="plat-link" data-toggle="tab" href="#pc">PC</a></li>
  if userPlats.indexOf(12) > -1
    <li class="plat-tab"><a class="plat-link" data-toggle="tab" href="#360">XBOX 360</a></li>
  if userPlats.indexOf(48) > -1
    <li class="plat-tab"><a class="plat-link" data-toggle="tab" href="#ps4">PS4</a></li>
  if userPlats.indexOf(9) > -1
    <li class="plat-tab"><a class="plat-link" data-toggle="tab" href="#ps3">PS3</a></li>
  if userPlats.indexOf(49) > -1
    <li class="plat-tab"><a class="plat-link" data-toggle="tab" href="#xbox1">XBOX ONE</a></li>
  if userPlats.indexOf(130) > -1
    <li class="plat-tab"><a class="plat-link" data-toggle="tab" href="#switch">SWITCH</a></li>
</ul>

<div class="tab-content">
    <div id="pc" class="tab-pane fade">
      each game in userGames
          if game && game.platform == 6
            <p>#{game.name}</p>
    </div>
    <div id="360" class="tab-pane fade">
      each game in userGames
          if game && game.platform == 12
            <p>#{game.name}</p>
    </div>
    <div id="ps4" class="tab-pane fade">
      each game in userGames
          if game && game.platform == 48
            <p>#{game.name}</p>
    </div>
    <div id="ps3" class="tab-pane fade">
      each game in userGames
          if game && game.platform == 9
            <p>#{game.name}</p>
    </div>
    <div id="xbox1" class="tab-pane fade">
      each game in userGames
          if game && game.platform == 49
            <p>#{game.name}</p>}
    </div>
    <div id="switch" class="tab-pane fade">
      each game in userGames
          if game && game.platform == 130
            <p>#{game.name}</p>
    </div>
</div>