extends index.pug

block content
    h2(class="pix-header") Inbox
    include partials/message-modal
    div(id="inbox-container" class="container inbox" data=userId)
        .list-group
            each userMsg in latestMessages
                if userMsg.senderId === userId
                    li(id=userMsg.recipientId + "-user" role="button" class="list-group-item inbox-btn current-users-post" data-toggle="modal" data-target="#msg-model")
                        .row
                            .col-md-4 
                                p To: #{userMsg.screenName} 
                            .col-md-4
                                p Last Message: #{userMsg.msgContent}
                            .col-md-4
                                p #{userMsg.createdAt}
                else
                    li(id=userMsg.senderId + "-user" role="button" class="list-group-item inbox-btn corresponding-users-post" data-toggle="modal" data-target="#msg-model") 
                        .row
                            .col-md-4 
                                p From: #{userMsg.screenName} 
                            .col-md-4
                                p Last Message: #{userMsg.msgContent}
                            .col-md-4
                                p #{userMsg.createdAt}
