extends index.pug

block content
    h2(id="user-name" data=userId class="account-head") Account Info for #{screenName}
    .container
        .row.equal
            .pic-and-blurb.col-md-4
                .img
                    img(src="/public/imgs/no-img-avail.svg")
                .blurb-edit
                    form(method='POST', action=`/user?_method=PUT`)
                        h4 About:
                        if loggedUser
                            if blurb
                                p(class="blurb user-info") #{blurb}
                                textarea(class="input hidden-blurb blurb-input form-control" max-length="200" rows="4" name="blurb") #{blurb}
                            else
                                p(class="blurb user-info") Give a brief description of yourself...
                                textarea(class="input hidden-blurb blurb-input user-info" rows="3" name="blurb")
                            span(id="edit-blurb" role="button" class="edit glyphicon glyphicon-pencil")
                        else
                            p(class="blurb") #{blurb}
                if loggedUser
                    .questions-link
                        h4: a(href="/user/" + viewedUser + "/questions") Answer These Question to Match With Other Users!
            .account-info.col-md-4
                .email-edit 
                    form(method='POST', action=`/user?_method=PUT`)
                        h4 Email
                        p(class="user-info email") #{email}
                        input(id="email-input" class="input hidden-email email-input form-control" type="text" name="email" value=email) 
                        if loggedUser
                            span(id="edit-email" role="button" class="edit glyphicon glyphicon-pencil")
                    h4 Birthdate
                p(class="user-info") #{birthdate}
                .language-edit
                    form(method='POST', action=`/user?_method=PUT`)
                        h4(class="language") Language
                        p(class="user-info") #{language}
                        if loggedUser
                            .hidden-language.language-input.input
                                include partials/language
                            span(id="edit-language" role="button" class="edit glyphicon glyphicon-pencil")
                            button(type="submit" id="lang-submit" class="submit-language edit-submit hidden-language-submit") Submit
                .timezone-edit
                    form(method='POST', action=`/user?_method=PUT`)
                        h4(class="timezone") Timezone
                        p(class="user-info") #{timezone}
                        if loggedUser
                            .hidden-timezone.timezone-input.input
                                include partials/timezone.pug
                            span(id="edit-timezone" role="button" class="edit glyphicon glyphicon-pencil")
                            button(type="submit" id="timezone-submit" class="submit-timezone edit-submit hidden-timezone-submit") Submit
                .owned-games
                    h4(class="saved-games") Saved Games
                    ul(id="saved-games-list" class="saved-games-list")
                        if userGames
                            each game in userGames
                                li(class="user-game-list") #{game.name}
            if loggedUser
                .games.col-md-4
                    h4(class="search-games") Games
                    form(method='POST', action='/games')
                        input(id="gameSearch" autocomplete="off" class="form-control" placeholder="Search multiplayer games..." type='text')
                        input(id="hidden-gamesearch", class="hidden-game" name="game")
                        ul(id="game-list")
                        button(id="hidden-game-submit" class="hidden-game" type="submit")
