extends index.pug

block content
    body(id="body" class="bg bg-profile")
        include partials/nav.pug
        include partials/message-modal
        .wrapper
            .user-card
                .img.info
                    if avatar
                        img(class="avatar" src=avatar)
                    else
                        img(src="/public/imgs/no_image.jpg")
                    if loggedUser
                        a(class="edit" role="button"): p(class="edit-img") Edit Image
                        .img-input.isHidden
                            p Enter image URL
                            if avatar
                                input(class="input" type="text" data="avatar" value=avatar)
                            else
                                input(class="input" type="text")
                .page-head
                    h3(id="user-name" class="user-name pix-header" data=userId) #{screenName}
                    hr
                .blurb.info
                    .info-head
                        h4(class="blurb-head edit-header") About
                        if loggedUser
                            span(id="edit-blurb" role="button" class="edit glyphicon glyphicon-pencil")
                    .user-info
                        if loggedUser
                            if blurb
                                p(class="blurb-display info-display") #{blurb}
                                textarea(class="input isHidden blurb-input form-control" data="blurb" maxlength="200" rows="4" name="blurb") #{blurb}
                            else
                                p(class="blurb-display info-display") Give a brief description of yourself...
                                textarea(class="input isHidden blurb-input" data="blurb" maxlength="200" rows="4" name="blurb")
                        else
                            if blurb
                                p(class="blurb-display info-display") #{blurb}
                            else
                                p(class="blurb-display no-info info-display") (#{screenName} has not filled out this field)
                        hr
            .user-info-edit
                .email-edit.info
                    .info-head
                        h4(class="edit-header") Email
                        if loggedUser
                            span(id="edit-email" role="button" class="edit glyphicon glyphicon-pencil")
                    .user-info
                        p(class="info-display email") #{email}
                        input(id="email-input" class="input isHidden email-input form-control" data="email" type="text" name="email" value=email) 
                .birthdate-edit.info   
                    .info-head
                        h4(class="edit-header") Birthdate
                    .user-info
                        p(class="info-display") #{birthdate}
                .language-edit.info
                    .info-head
                        h4(class="language edit-header") Language
                        if loggedUser
                            span(id="edit-language" role="button" class="edit glyphicon glyphicon-pencil")
                    .user-info
                        p(class="info-display") #{language}
                        if loggedUser
                            include partials/language
                .timezone-edit.info
                    .info-head
                        h4(class="timezone edit-header") Timezone
                        if loggedUser
                            span(id="edit-timezone" role="button" class="edit glyphicon glyphicon-pencil")
                    .user-info
                        p(class="info-display") #{timezone}
                        if loggedUser
                            include partials/timezone.pug
                if loggedUser && questions.length !== usersAnswers.length
                    .questions-link
                        h4(class=""): a(href="/user/" + viewedUser + "/questions") Answer These Question to Match With Other Users!
                .last-logged
                    .info-head
                        h4(class="edit-header") Last Logged In
                    .user-info
                        p(class="info-display") 3d ago (TEMP)
                .playtime
                    .info-head
                        h4(class="edit-header") Typically Active
                    .user-info
                        p(class="info-display") 8-12pm central time (TEMP)
                .btn-container
                    if loggedUser && questions.length === usersAnswers.length
                        a(href="/user/" + viewedUser + "/questions"): button(class="btn btn-primary prof-btns") Review answers
                        a(href="/user/" + userId + "/matches"): button(class="btn btn-primary prof-btns") See matches!
                    if !loggedUser
                        button(id=viewedUser + "-msg-id" type="button" class="btn btn-primary message-btn" data-toggle="modal" data-target="#msg-model") Message This User!
            
            .users-games
                if loggedUser
                    .games
                        h4(class="search-games ")
                        input(id="hidden-gamesearch", class="hidden-game" name="game")
                        input(id="gameSearch" autocomplete="off" class="form-control game-add-input" placeholder="Add a game..." type='text')
                        ul(class="game-list" id="game-list")
                .owned-games
                    h4(class="edit-header") Owned Games
                    ul(id="saved-games-list" class="saved-games-list")
                        if userGames
                            each game in userGames
                                li(class="user-game-list") #{game.name} 
                    include partials/owned-games.pug
        include partials/scripts.pug
        script(src="/public/js/profile.js")
        script(src="/public/js/messaging.js")

